.successor {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        .successor-label {
            flex: 1;
        }

        .successor-input {
            flex: 2;
            margin-right: 10px;
        }

        .add-successor {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
        }

        .remove-successor {
            background-color: red;
            color: white;
            border: none;
            cursor: pointer;
        }






.lignage {
            margin-bottom: 10px;
        }

        .lignage-label {
            font-weight: bold;
        }

        .lignage-input {
            display: inline-block; /* Afficher les champs en ligne */
            margin-right: 10px; /* Ajouter une marge entre les champs */
        }

        .add-lignage {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
        }

        .remove-lignage {
            background-color: red;
            color: white;
            border: none;
            cursor: pointer;
        }