{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}






<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dyanmic Input</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="card mt-5">
                <div class="card-header">
                    Successeurs
                </div>
                <div class="card-body">
                    
                        <div id="product_row1" class="row">
                            <div class="col-md-4">
                                <label>Non</label>
                                <input id="name1" type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Prénom</label>
                                <input id="prenom1" type="text" class="form-control">
                            </div>
                             <div class="col-md-4">
                                <label>date</label>
                                <input id="date1" type="date" class="form-control">
                            </div>
                            <div class="col-md-1">
                                <br>
                                <button onclick="delete_row('1')" type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    
                </div>
                <div class="card-footer text-end">
                    <button onclick="add_more()" class="btn btn-dark">Ajouter</button>
                </div>
            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock content %}