{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}


<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Formulaire des histoires</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
		        </li>
		        <li class="separator">
		            <i class="flaticon-right-arrow"></i>
		        </li>
		            <li class="nav-item">
		                Proces-verbale
			        </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
						<div class="card-title">Veillez remplire le formulaire en commençant toujours par une lettre majuscule</div>
					</div>
                    <div class="card-body">
                        <form action="{% url 'formulairemanuscrit' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                <label for="region">Choisissez une région :</label>
                                    <select class="custom-select" id="region" name="region" onchange="updateDepartments()">
                                        <option value="District_Autonome_Abidjan">District Autonome d'Abidjan</option>
                                        <option value="District_Autonome_Yamoussoukro">District Autonome de Yamoussoukro</option>
                                        <option value="yamoussoukro">Yamoussoukro</option>
                                        <option value="sanpedro">San Pedro</option>
                                    </select>
								</div>
								<div class="col-md-4 mb-3">
                                <label for="department">Département :</label>
                                <select class="custom-select" name="department" id="department" onchange="updateSubPrefectures()">
                                    <!-- Options seront mises à jour dynamiquement -->
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="quartier">Choisissez une sous préfecture :</label>
                                    <select class="custom-select" name="sous_prefecture"  id="subPrefecture" onchange="updateVillages()">
                                    <option value="">Sélectionnez une sous_préfecture</option>
                                     <!-- Options seront mises à jour dynamiquement -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Nom de l'enqueteur</label>
                                    <div class="input-group">
                                        <input id="nomenq" type="text" class="form-control  speech-input" name="nomenq" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Prénom de l'enqueteur</label>
                                    <div class="input-group">
                                        <input id="name1" type="text" class="form-control speech-input" name="prenomenq" >
                                    </div>
                                </div>
								<div class="col-md-3 mb-3">
                                    <label for="village">Choisissez un village :</label>
                                    <select class="custom-select" id="village"  name="village">
                                        <option value="">Sélectionnez un village</option>
                                             <!-- Ajoutez ici les options du village dynamiquement si nécessaire -->
                                     </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Signification</label>
                                    <div class="input-group">
                                        <input type="text" name="signification" class="form-control speech-input" id="signification" placeholder="" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Nom Déclarant</label>
                                    <div class="input-group">
                                        <input name="nomdec" type="text" class="form-control speech-input" id="nomdec" placeholder="" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Prénom Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="prenomdec" class="form-control speech-input" id="prenomdec" placeholder="" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Qualité Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="qualitedec" class="form-control speech-input" id="nondec" placeholder="" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Date de naissance déclarant</label>
                                    <div class="input-group">
                                        <input type="date" name="datedec" class="form-control" id="datedec" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lieu de naissance Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="lieundec" class="form-control speech-input" id="lieundec" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lieu de résidence Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="lieudec" class="form-control speech-input" id="lieudec" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Non fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="nomf" class="form-control speech-input" id="nomf" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Prénom fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="prenomf" class="form-control speech-input" id="prenomf" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Activitées fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="activitef" class="form-control speech-input" id="activitef" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lieu d'inhumation</label>
                                    <div class="input-group">
                                        <input type="text" name="lieuinf" class="form-control speech-input" id="lieuinf" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Origine fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="originef" class="form-control speech-input" id="originef" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="ville">Personnes Trouvée sur les Lieux:</label>
                                    <select  class="custom-select mb-3" id="personne_trouve" name="personne_trouve">
                                        <option value="Village">Village</option>
							            <option value="groupement de personne">Groupement De Personne</option>
							            <option value="Aucune">Aucune</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                <label for="ville">A t'il passé des accords:</label>
                                    <select  class="custom-select mb-3" id="accord" name="accord" >
                                        <option value="Oui">oui</option>
							            <option value="Non">non</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="validationDefaultUsername">Lien avec personnes trouvées</label>
                                    <div class="input-group">
                                        <input type="text" name="lien" class="form-control speech-input" id="personne" >
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="validationDefaultUsername">époque d'installation</label>
                                    <div class="input-group">
                                        <input type="text" name="epoque" class="form-control speech-input" id="epoque" >
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-4">
                                <div id="successors">
                                <!-- Les champs de saisie des successeurs seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-successor" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de successeurs -->
                            <input type="hidden" name="successor_count" id="successor_count" value="0">
                            <div class="container mt-4">
                                <div id="lines">
                                <!-- Les champs de saisie des lignées seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-line" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de lignées -->
                            <input type="hidden" name="line_count" id="line_count" value="0">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                <label for="validationDefaultUsername">période officialissation</label>
                                    <div class="input-group">
                                        <input type="text" name="dateoff" class="form-control speech-input" id="dateof" >
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefaultUsername">Nom de l'auritée d'officialissation</label>
                                    <div class="input-group">
                                        <input type="text" name="nomaut" class="form-control speech-input" id="nomaut" >
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="ville">L'acte de création?</label>
                                    <select  class="custom-select mb-3" id="act" name="act">
                                        <option value="oui">oui</option>
							            <option value="non">non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container mt-4">
                                <div id="campements">
                                <!-- Les champs de saisie des campements seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-campement" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de campements -->
                            <input type="hidden" name="campement_count" id="campement_count" value="0">
                            <div class="container mt-4">
                                <div id="sites">
                                <!-- Les champs de saisie des sites d'adoration seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-site" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de sites d'adoration -->
                            <input type="hidden" name="site_count" id="site_count" value="0">
                            <div class="container mt-4">
                                <div id="ancient-sites">
                                <!-- Les champs de saisie des anciens sites seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-ancient-site" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre d'anciens sites -->
                            <input type="hidden" name="ancient_site_count" id="ancient_site_count" value="0">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="ville">Mode d'accès à la terre?</label>
                                    <select  multiple class="form-control custom-select mb-3" id="mode" name="mode">
                                        <option value="Héritage">héritage</option>
							            <option value="Dont">dont</option>
							            <option value="Prêt ">prêt </option>
							            <option value="Achat">achat</option>
							            <option value="Location">Location</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="terre_terre">Chef de terre?</label>
                                    <select  class="custom-select mb-3" id="chef" name="chef">
                                        <option value="oui">oui</option>
							            <option value="non">non</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="ville">Mise à la disposition?</label>
                                    <select  multiple class="form-control custom-select mb-3" id="disposition" name="disposition">
                                        <option value="Héritage">héritage</option>
							            <option value="dont">dont</option>
							            <option value="Prêt ">prêt </option>
							            <option value="Achat">achat</option>
							            <option value="Location">Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container mt-4">
                                <div id="villages">
                                <!-- Les champs de saisie des cités des villages regroupés seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-village" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de cités des villages regroupés -->
                            <input type="hidden" name="village_count" id="village_count" value="0">
                            <div class="container mt-4">
                                <div id="limite_village_litige">
                                <!-- Les champs de saisie de limites, villages en litige seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-limite-village-litige" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de limites de villages en litige -->
                            <input type="hidden" name="limite_village_litige_count" id="limite_village_litige_count" value="0">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                <label for="validationDefaultUsername">complément</label>
                                    <div class="input-group">
                                        <textarea class="form-control speech-input" placeholder="parler maintenant" rows="5" cols="40" name="complement"lang="fr"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
							    <button class="btn btn-success">Submit</button>
							    <button class="btn btn-danger">Cancel</button>
						    </div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







 <script>
    const regionsData = {
      District_Autonome_Abidjan: {
        departments: ["Abidjan"],
        subPrefectures: {
          Abidjan: ["Anyama","Abobo","Adjame","Attecoube","Bingerville","Songon","Cocody","Koumassi","Marcory","Plateau","Port-Bouet","Treichville","Yopougon"],


        },
        villages: {
          "Anyama":["Anyama", "Akéïkoi", "Abbé-Broukoi 1", "Abbé-Broukoi 2", "Anyama-Adjamé", "Anyama-Ahouabo", "Anyama-Zossonkoi", "Azaguié-Blida", "Christiankoi 1", "Christiankoi 2", "Ebimpé", "Thomasset", "Yapokoi", "Adattié", "Akoupé-Zeudji", "Allokoi", "Adonkoi 1", "Adonkoi 2", "Attinguié", "M'Bonoua", "M'Brago 1", "M'Brago 2", "Adaromé", "M'Pody"],
          "Abobo": ['Abèbroukoi', 'Abobo-Baoulé', 'Abobo-té', 'Agbèkoi','Agnissankoi', 'Anonkoua-Kouté', 'Djibi', 'N\'Guessankoi'],
          "Adjame": ["Adjamèmin"],
          "Attecoube": ['Abidjan-Agban', 'Abidjan-Agban', 'Abidjan-Agban','Abidjan-Agban', 'Abidjan-Agban'],
          "Bingerville":["Abatta", "Achokoi", "Adjamé-Bingerville", "Adjin", "Akandjè", "Akouai-Agban", "Akouai-Santai", "Akouédo-Attié", "Akoyaté", "Anan", "Angorankoi", "Bingerville", "Koffikro", "Sébia-Yao", "Brégbo", "Elokaté", "Elokato", "M'Batto-Bouaké"],
          "Songon": ["Abadjin-Bimbresso", "Abadjin-Doumé", "Abadjin-Kouté", "Audouin-Beugretto", "Audouin-Assadin", "Ayéwahi", "Djèpoté", "Djèpoto", "Djèpoto Israel", "Godoumin", "M'Brathé-Attié", "Songon-Agban", "Songon-Agban- Attié 1", "Songon-Agban- Attié 2", "Songon-Dagbé", "Songon-Kassemblé", "Songon-M'Brathé", "Songon-Té", "Abiaté 2", "Bago", "Guébo 1", "Guébo 2", "Kossihouen", "Nonkouagon"],
          "Cocody": ["Abèbroukoi", "Abobo-Baoulé", "Abobo-té", "Agbèkoi", "Agnissankoi", "Anonkoua-Kouté", "Djibi", "N'Guessankoi"],
          "Koumassi": [],
          "Marcory": ["Abia-Abéti", "Abia-Koumassi", "Anoumambo"],
          "Plateau": [],
          "Port-Bouet": ["Abia-Gnambo", "Abouabou", "Adjahui-Coubè", "Amangouakoi", "Mafiblé I", "Mafiblé II", "Vridi Ako"],
          "Treichville": [],
          "Yopougon":["Adiopodoumin/Adiopodoumé", "Andokoi", "Azito", "Banco 1", "Banco 2", "Béago", "Mambokoi", "Niangon-Adjèmin", "Niangon-Attié", "Niangon-Lokoa", "Yatsèkoi", "Yopougon-Attié", "Yopougon-Kouté", "Yopougon-Santè"],


        }
      },

      District_Autonome_Yamoussoukro: {
        departments: ["Yamoussoukro","Attiegouakro"],
        subPrefectures:{
        Yamoussoukro: ["Attiegouakro","Lolobo","Yamoussoukro","Kossou"],

        },
         villages:{


         }


      },
      yamoussoukro: {
        // Définir les données pour Yamoussoukro
      },
      sanpedro: {
        // Définir les données pour San Pedro
      }
    };

    const regionSelect = document.getElementById("region");
    const departmentSelect = document.getElementById("department");
    const subPrefectureSelect = document.getElementById("subPrefecture");
    const villageSelect = document.getElementById("village");

    function updateDepartments() {
      const selectedRegion = regionSelect.value;
      const departments = regionsData[selectedRegion].departments;
      fillSelect(departmentSelect, departments);
      updateSubPrefectures();
    }

    function updateSubPrefectures() {
      const selectedRegion = regionSelect.value;
      const selectedDepartment = departmentSelect.value;
      const subPrefectures = regionsData[selectedRegion].subPrefectures[selectedDepartment];
      fillSelect(subPrefectureSelect, subPrefectures);
      updateVillages();
    }

    function updateVillages() {
      const selectedRegion = regionSelect.value;
      const selectedDepartment = departmentSelect.value;
      const selectedSubPrefecture = subPrefectureSelect.value;
      const villages = regionsData[selectedRegion].villages[selectedSubPrefecture];
      fillSelect(villageSelect, villages);
    }

    function fillSelect(selectElement, options) {
      // Supprimer les options actuelles
      selectElement.innerHTML = "";

      // Ajouter les nouvelles options
      options.forEach(option => {
        const optionElement = document.createElement("option");
        optionElement.value = option;
        optionElement.text = option;
        selectElement.add(optionElement);
      });
    }

    // Initialiser les départements au chargement de la page
    updateDepartments();
  </script>
{% endblock content %}
