{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}


<div class="content">
     <div class="page-inner">
          <div class="page-header">
               <h4 class="page-title">Formulaire</h4>
               <ul class="breadcrumbs">
                  	<li class="nav-home">
		                <a href="#">
		                    <i class="flaticon-home"></i>
		                </a>
		            </li>
		            <li class="separator">
		                        <i class="flaticon-right-arrow"></i>
		            </li>
		            <li class="nav-item">
		                <a href="#">Formulaire</a>
			        </li>
			        <li class="separator">
			            <i class="flaticon-right-arrow"></i>
			        </li>
			        <li class="nav-item">
			            <a href="#">Formulaire classic</a>
			        </li>
               </ul>
               <div class="row">
                   <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
						        <div class="card-title">Form Elements</div>
						    </div>
                            <div class="card-body">
                                <form action="{% url 'formulairemanuscrit' %}" method="POST" enctype="multipart/form-data">
								</form>
                            </div>
                       </div>
                   </div>
               </div>
          </div>
     </div>
</div>
{% endblock content %}