{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}


<div class="content">
     <div class="page-inner">
          <div class="page-header">
               <h4 class="page-title">Formulaire</h4>
               <ul class="breadcrumbs">
                  	<li class="nav-home">
		                <a href="#">
		                    <i class="flaticon-home"></i>
		                </a>
		            </li>
		            <li class="separator">
		                <i class="flaticon-right-arrow"></i>
		            </li>
		            <li class="nav-item">
		                <a href="#">Formulaire</a>
			        </li>
			        <li class="separator">
			            <i class="flaticon-right-arrow"></i>
			        </li>
			        <li class="nav-item">
			            <a href="#">Formulaire classic</a>
			        </li>
               </ul>
            </div>
            <div class="row">
                   <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
						        <div class="card-title">Form Elements</div>
						    </div>
                            <div class="card-body">
                                <form action="{% url 'formulairemanuscrit' %}" method="POST" enctype="multipart/form-data">
                                                       {% csrf_token %}
                                     <div class="form-row">
                                         <div class="col-md-4 mb-3">
                                             <label for="pays">Choisissez une région :</label>
                                             <select class="custom-select mb-3" id="pays" name="region"  >
                                                    <option value="abidjan">District autonome d'Abidjan</option>
                                                    <option value="tiassa">Agnéby-Tiassa</option>
                                                    <option value="bafing">Bafing</option>
                                                    <option value="bagoue">Bagoué</option>
                                                    <option value="belier">Bélier</option>
                                                    <option value="bere">Béré</option>
                                                    <option value="boukani">Bounkani</option>
                                                    <option value="cavally">Cavally</option>
                                                    <option value="folon">Folon</option>
                                                    <option value="gbeke">Gbêkê</option>
                                                    <option value="gbokle">Gbôkle</option>
                                                    <option value="gbokle">Gbôkle</option>
                                                    <option value="goh">Gôh</option>
                                                    <option value="gontougo">Gontougo</option>
                                                </select>
										    </div>
										    <div class="col-md-4 mb-3">
                                                <label for="ville">Choisissez un Département :</label>
                                                <select  class="custom-select mb-3" id="departement" name="departement" >
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="quartier">Choisissez une sous préfecture :</label>
                                                <select class="custom-select mb-3" id="quartier" name="sous_prefecture" >
                                                </select>
                                            </div>
                                     </div>
                                     <div class="form-row">
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Nom de l'enqueteur</label>
                                                <div class="input-group">
                                                    <input id="nomenq" type="text" class="form-control  speech-input" name="nomenq" >
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Prénom de l'enqueteur</label>
                                                <div class="input-group">
                                                    <input id="name1" type="text" class="form-control speech-input" name="prenomenq" >
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">nom du village</label>
                                                <div class="input-group">
                                                     <input id="name1" type="text" class="form-control speech-input" name="village" >
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Signification</label>
                                                <div class="input-group">
                                                    <input type="text" name="signification" class="form-control speech-input" id="signification" placeholder="" >
                                                </div>
                                            </div>
                                     </div>
                                     <div class="form-row">
                                          <div class="col-md-3 mb-3">
                                               <label for="validationDefaultUsername">Nom Déclarant</label>
                                               <div class="input-group">
                                                   <input name="nomdec" type="text" class="form-control speech-input" id="nomdec" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Prénom Déclarant</label>
                                                <div class="input-group">
                                                    <input type="text" name="prenomdec" class="form-control speech-input" id="prenomdec" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Qualité Déclarant</label>
                                                <div class="input-group">
                                                    <input type="text" name="qualitedec" class="form-control speech-input" id="nondec" placeholder="" >
                                                 </div>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Date de naissance déclarant</label>
                                                <div class="input-group">
                                                    <input type="date" name="datedec" class="form-control" id="datedec" >
                                                </div>
                                            </div>
                                     </div>
                                     <div class="form-row">
                                        <div class="col-md-3 mb-3">
                                                <label for="validationDefaultUsername">Lieu de naissance Déclarant</label>
                                            <div class="input-group">
                                                <input type="text" name="lieundec" class="form-control speech-input" id="lieundec" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefaultUsername">Lieu de résidence Déclarant</label>
                                            <div class="input-group">
                                                <input type="text" name="lieudec" class="form-control speech-input" id="lieudec" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefaultUsername">Non fondateur</label>
                                            <div class="input-group">
                                                <input type="text" name="nomf" class="form-control speech-input" id="nomf" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefaultUsername">Prénom fondateur</label>
                                            <div class="input-group">
                                                <input type="text" name="prenomf" class="form-control speech-input" id="prenomf" >
                                            </div>
                                        </div>
                                     </div>
                                     <div class="form-row">
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefaultUsername">Activitées fondateur</label>
                                            <div class="input-group">
                                                <input type="text" name="activitef" class="form-control speech-input" id="activitef" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefaultUsername">Lieu d'inhumation</label>
                                            <div class="input-group">
                                                <input type="text" name="lieuinf" class="form-control speech-input" id="lieuinf" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="validationDefaultUsername">Origine fondateur</label>
                                            <div class="input-group">
                                                <input type="text" name="originef" class="form-control speech-input" id="originef" >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="ville">Personnes Trouvée sur les Lieux:</label>
                                            <select  class="custom-select mb-3" id="personne_trouve" name="personne_trouve">
                                                <option value="Village">Village</option>
							                    <option value="groupement de personne">Groupement De Personne</option>
							                    <option value="Aucune">Aucune</option>
                                            </select>
                                        </div>
                                     </div>
                                     <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="ville">A t'il passé des accords:</label>
                                            <select  class="custom-select mb-3" id="accord" name="accord" >
                                                <option value="Oui">oui</option>
							                    <option value="Non">non</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefaultUsername">Lien avec personnes trouvées</label>
                                            <div class="input-group">
                                                <input type="text" name="lien" class="form-control speech-input" id="personne" >
                                             </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefaultUsername">époque d'installation</label>
                                            <div class="input-group">
                                                 <input type="text" name="epoque" class="form-control speech-input" id="epoque" >
                                              </div>
                                        </div>
                                    </div>







                                    <form action="{% url 'formulairetranscription' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container mt-4">
        <div id="successors">
            <!-- Les champs de saisie des successeurs seront ajoutés ici -->
        </div>
        <div class="form-row mb-3">
            <button type="button" id="add-successor" class="btn btn-success">+</button>
        </div>
    </div>

    <!-- Champ caché pour stocker le nombre de successeurs -->
    <input type="hidden" name="successor_count" id="successor_count" value="0">

    <div class="card-action">
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger">Cancel</button>
    </div>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const successorsContainer = document.getElementById("successors");
    const addSuccessorButton = document.getElementById("add-successor");
    const successorCountInput = document.getElementById("successor_count");

    let successorCount = 0;

    function createSuccessorInputs() {
        const successorDiv = document.createElement("div");
        successorDiv.className = "form-row mb-3";

        const nameDiv = document.createElement("div");
        nameDiv.className = "col-md-3";
        const nameInput = document.createElement("input");
        nameInput.type = "text";
        nameInput.name = `name_${successorCount}`;
        nameInput.placeholder = "Nom du successeur";
        nameInput.className = "form-control speech-input";
        nameDiv.appendChild(nameInput);

        const firstNameDiv = document.createElement("div");
        firstNameDiv.className = "col-md-3";
        const firstNameInput = document.createElement("input");
        firstNameInput.type = "text";
        firstNameInput.name = `first_name_${successorCount}`;
        firstNameInput.placeholder = "Prénom du successeur";
        firstNameInput.className = "form-control speech-input";
        firstNameDiv.appendChild(firstNameInput);

        const accessionDateDiv = document.createElement("div");
        accessionDateDiv.className = "col-md-3";
        const accessionDateInput = document.createElement("input");
        accessionDateInput.type = "date";
        accessionDateInput.name = `accessionDate_${successorCount}`;
        accessionDateInput.placeholder = "date d'accession";
        accessionDateInput.className = "form-control";
        accessionDateDiv.appendChild(accessionDateInput);

        const removeButtonDiv = document.createElement("div");
        removeButtonDiv.className = "col-md-3";
        const removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.textContent = "-";
        removeButton.className = "btn btn-danger remove-successor";
        removeButtonDiv.appendChild(removeButton);

        successorDiv.appendChild(nameDiv);
        successorDiv.appendChild(firstNameDiv);
        successorDiv.appendChild(accessionDateDiv);
        successorDiv.appendChild(removeButtonDiv);
        successorsContainer.appendChild(successorDiv);

        removeButton.addEventListener("click", function() {
            successorsContainer.removeChild(successorDiv);
            successorCount--; // Mettez à jour le compteur lors de la suppression
            successorCountInput.value = successorCount; // Mettez à jour la valeur du champ caché
        });

        successorCountInput.value = ++successorCount; // Mettez à jour la valeur du champ caché après chaque ajout
    }

    // Appeler la fonction pour afficher par défaut les champs pour un successeur
    createSuccessorInputs();

    addSuccessorButton.addEventListener("click", createSuccessorInputs);
});
</script>








                                    <div class="container mt-4">
                                        <div id="lines">
                                        <!-- Les champs de saisie des lignées seront ajoutés ici -->
                                        </div>
                                        <div class="form-row mb-3">
                                            <button type="button" id="add-line" class="btn btn-success">+</button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefaultUsername">période officialissation</label>
                                            <div class="input-group">
                                                <input type="text" name="dateoff" class="form-control speech-input" id="dateof" >
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefaultUsername">Nom de l'auritée d'officialissation</label>
                                            <div class="input-group">
                                                <input type="text" name="nomaut" class="form-control speech-input" id="dateof" >
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="ville">L'acte de création?</label>
                                            <select  class="custom-select mb-3" id="act" name="act">
                                                <option value="bafing">oui</option>
							                    <option value="bafin">non</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="container mt-4">
                                        <div id="campements">
                                            <!-- Les champs de saisie des campements seront ajoutés ici -->
                                        </div>
                                        <div class="form-row mb-3">
                                            <button type="button" id="add-campement" class="btn btn-success">+</button>
                                        </div>
                                    </div>
                                    <div class="container mt-4">
                                        <div id="sites">
                                              <!-- Les champs de saisie des sites d'adoration seront ajoutés ici -->
                                        </div>
                                        <div class="form-row mb-3">
                                          <button type="button" id="add-site" class="btn btn-success">+</button>
                                        </div>
                                    </div>
                                    <div class="container mt-4">
                                        <div id="ancient-sites">
                                            <!-- Les champs de saisie des anciens sites seront ajoutés ici -->
                                        </div>
                                        <div class="form-row mb-3">
                                            <button type="button" id="add-ancient-site" class="btn btn-success">+</button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3 mb-3">
                                        <label for="ville">Mode d'accès à la terre?</label>
                                        <select  multiple class="form-control custom-select mb-3" id="act" name="act">
                                            <option value="bafing">héritage</option>
							                <option value="bafing">dont</option>
							                <option value="bafing">pret</option>
							                <option value="bafing">achat</option>
							                <option value="bafing">Location</option>
                                        </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                        <label for="ville">Chef de terre?</label>
                                        <select  class="custom-select mb-3" id="act" name="act">
                                            <option value="bafing">oui</option>
							                <option value="bafing">non</option>
                                        </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="ville">Mise à la disposition?</label>
                                            <select  multiple class="form-control custom-select mb-3" id="act" name="act">
                                                 <option value="bafing">héritage</option>
							                     <option value="bafing">dont</option>
							                     <option value="bafing">pret</option>
							                     <option value="bafing">achat</option>
							                     <option value="bafing">Location</option>
                                            </select>                                    </div>
                                        </div>
                                    </div>
                                    <div class="container mt-4">
                                        <div id="villages">
                                            <!-- Les champs de saisie des cités des villages regroupés seront ajoutés ici -->
                                    </div>
                                        <div class="form-row mb-3">
                                            <button type="button" id="add-village" class="btn btn-success">+</button>
                                        </div>
                                    </div>
                                    <div class="container mt-4">
                                        <div id="limite_vilage_litige">
                                            <!-- Les champs de saisie de limites, villages en litige seront ajoutés ici -->
                                        </div>
                                        <div class="form-row mb-3">
                                            <button type="button" id="add-limite_vilage_litige" class="btn btn-success">+</button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                        <label for="validationDefaultUsername">complément</label>
                                        <div class="input-group">
                                            <textarea class="form-control speech-input" rows="5" cols="100" id="comment" ></textarea>
                                        </div>
                                    </div>
                                    <div class="card-action">
							            <button class="btn btn-success">Submit</button>
							            <button class="btn btn-danger">Cancel</button>
						            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}