{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}
<div class="content">
	<div class="page-inner">
		<div class="page-header">
		  <h4 class="page-title">Formulaire</h4>

		  <ul class="breadcrumbs">
		  <li class="nav-home">
		  <a href="#">
		  <i class="flaticon-home"></i>
		  </a>
		  </li>
		  <li class="separator">
		  <i class="flaticon-right-arrow"></i>
		  </li>
		  <li class="nav-item">
		  <a href="#">Formulaire</a>
			</li>
			<li class="separator">
			<i class="flaticon-right-arrow"></i>
			</li>
			<li class="nav-item">
			<a href="#">Formulaire classic</a>
			</li>
			</ul>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
						  <div class="card-title">Form Elements</div>
						</div>
              <div class="card-body">

              <form action="{% url 'formulairemanuscrit' %}" method="POST" enctype="multipart/form-data">
                             {% csrf_token %}
              <div class="form-row">
                    <div class="col-md-4 mb-3">
                    <label for="pays">Choisissez une région :</label>
                    <select class="custom-select mb-3" id="pays" name="region">
                    <option value="abidjan">District autonome d'Abidjan</option>
                    <option value="tiassa">Agnéby-Tiassa</option>
                    <option value="bafing">bafing</option>
                    <option value="bagoue">Bagoué</option>
                    <option value="belier">Bélier</option>
                    <option value="bere">Béré</option>
                    <option value="boukani">Bounkani</option>
                    <option value="cavally">Cavally</option>
                    <option value="folon">Folon</option>
                    <option value="gbeke">Gbêkê</option>
                    <option value="gbokle">Gbôkle</option>
                    <option value="gbokle">Gbôkle</option>
                    <option value="goh">Gôh</option>
                    <option value="gontougo">Gontougo</option>
                    </select>
                  </div>

                  <div class="col-md-4 mb-3">
                     <label for="ville">Choisissez un Département :</label>
                    <select  class="custom-select mb-3" id="departement" name="departement">
                    </select>
                  </div>

                  <div class="col-md-4 mb-3">
                   <label for="quartier">Choisissez une sous préfecture :</label>
                   <select class="custom-select mb-3" id="quartier" name="sous_prefecture">
                   </select>
                  </div>


                  <div class="col-md-3 mb-3">
                   <label for="validationDefaultUsername">nom du village</label>
                  <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                   <input type="text" name="village" class="form-control" id="village" placeholder="" required>
                     </div>
                     </div>


                     <div class="col-md-3 mb-3">
                        <label for="validationDefaultUsername">Signification</label>
                          <div class="input-group">
                       <div class="input-group-prepend">
                          </div>
                           <input type="text" name="signification" class="form-control" id="signification" placeholder="" required>
                         </div>
                         </div>


                  <div class="col-md-3 mb-3">
                    <label for="validationDefaultUsername">Nom Déclarant</label>
                   <div class="input-group">
                        <div class="input-group-prepend">
                      </div>
                      <input name="nomdec" type="text" class="form-control" id="nomdec" placeholder="" required>
                      </div>
                      </div>


                      <div class="col-md-3 mb-3">
                      <label for="validationDefaultUsername">Prénom Déclarant</label>
                      <div class="input-group">
                        <div class="input-group-prepend">

                          </div>
                        <input type="text" name="prenondec" class="form-control" id="prenomdec" placeholder="" required>
                       </div>
                       </div>


                      <div class="col-md-3 mb-3">
                        <label for="validationDefaultUsername">Qualité Déclarant</label>
                          <div class="input-group">
                       <div class="input-group-prepend">
                          </div>
                           <input type="text" name="qualitedec" class="form-control" id="nondec" placeholder="" required>
                         </div>
                         </div>



                         <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Date de naissance déclarant</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="date" name="datedec" class="form-control" id="datedec" required>
                          </div>
                        </div>



                         <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Lieu de naissance Déclarant</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="lieundec" class="form-control" id="lieundec" required>
                          </div>
                        </div>


                            <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Lieu de résidence Déclarant</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="lieudec" class="form-control" id="lieudec" required>
                          </div>
                        </div>



                          <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Non fondateur</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="nomf" class="form-control" id="nomf" required>
                          </div>
                        </div>



                          <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Prénom fondateur</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="prenomf" class="form-control" id="prenomf" required>
                          </div>
                        </div>




                          <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Activitées fondateur</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="activitef" class="form-control" id="activitef" required>
                          </div>
                        </div>




                          <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Lieu d'inhumation</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="lieuinf" class="form-control" id="lieuinf" required>
                          </div>
                        </div>



                          <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Origine fondateur</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="originef" class="form-control" id="originef" required>
                          </div>
                        </div>


                  <div class="col-md-3 mb-3">
                     <label for="ville">Personne Trouvée sur les Lieux:</label>
                    <select  class="custom-select mb-3" id="departement" name="departement">
                      <option value="bafing">Village</option>
							        <option value="bafing">Groupement De Personne</option>
							        <option value="bafing">Aucune</option>
                    </select>
                  </div>


                  <div class="col-md-3 mb-3">
                     <label for="ville">A t'il passé des accords:</label>
                    <select  class="custom-select mb-3" id="accord" name="accord">
                      <option value="bafing">oui</option>
							        <option value="bafing">non</option>
                    </select>
                  </div>




                     <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">Lien avec personnes trouvées</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="personne" class="form-control" id="personne" required>
                          </div>
                        </div>



                 <div class="col-md-3 mb-3">
                           <label for="validationDefaultUsername">époque d'installation</label>
                       <div class="input-group">
                         <div class="input-group-prepend">

                        </div>
                          <input type="text" name="epoque" class="form-control" id="epoque" required>
                          </div>
                        </div>








           <div class="col-md-3 mb-3">
        <div id="successor-form">

            <div id="successors" >

                <!-- Les champs de saisie des successeurs seront ajoutés ici -->
                </div>
           </div>
            <button type="button" id="add-successor" class="add-successor">+</button>
            <input type="hidden" name="successor_count" value="0" id="successor_count">
        </div>















              </div>   <!-- la premier ligne -->







                   <div class="card-action">
							      <button class="btn btn-success">Enregistré</button>
							      <button class="btn btn-danger">Cancel</button>

						      </div>

              </form>

              </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock content %}