{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}


<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Formulaire des histoires</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
		        </li>
		        <li class="separator">
		            <i class="flaticon-right-arrow"></i>
		        </li>
		            <li class="nav-item">
		                Proces-verbale
			        </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
						<div class="card-title"> Commençez toujours par une lettre majuscule</div>



						                  <div class="d-flex justify-content-center">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <a class="alert alert-success" style="color: green;"> {{ message }}</a>
                {% elif message.tags == 'error' %}
                    <a class="alert alert-danger" style="color: red;"> {{ message }}</a>
                {% else %}
                    <a class="alert" style="color: black;"> {{ message }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>


					</div>
                    <div class="card-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                <label for="region">Choisissez une région :</label>
                                    <select class="custom-select" id="region" name="region" onchange="updateDepartments()">
                                        <option value="District_Abidjan" {% if histoire.nom_region == "District_Abidjan" %} selected  {% endif %}>District Autonome d'Abidjan</option>
                                        <option value="District_Yamoussoukro" {% if histoire.nom_region == 'District_Yamoussoukro' %} selected {% endif %}>District Autonome de Yamoussoukro</option>
                                        <option value="Agnéby_Tiassa" {% if histoire.nom_region == 'Agnéby_Tiassa' %} selected  {% endif %}>Agnéby-Tiassa</option>
                                        <option value="Bafing" {% if histoire.nom_region == 'Bafing' %}selected  {% endif %}>Bafing</option>
                                        <option value="Bagoué" {% if histoire.nom_region == 'Bagoué' %} selected   {% endif %}>Bagoué</option>
                                        <option value="Bélier" {% if histoire.nom_region == 'Bélier' %} selected  {% endif %}>Bélier</option>
                                        <option value="Béré" {% if histoire.nom_region == 'Béré' %} selected {% endif %}>Béré</option>
                                        <option value="Bounkani" {% if histoire.nom_region == 'Bounkani' %} selected {% endif %}>Bounkani</option>
                                        <option value="Cavally" {% if histoire.nom_region == 'Cavally' %} selected {% endif %}>Cavally</option>
                                        <option value="Folon" {% if histoire.nom_region == 'Folon' %} selected {% endif %}>Folon</option>
                                        <option value="Gbêkê" {% if histoire.nom_region == 'Gbêkê' %} selected {% endif %}>Gbêkê</option>
                                        <option value="Gbôkle" {% if histoire.nom_region == 'Gbôkle' %} selected {% endif %}>Gbôkle</option>
                                        <option value="Gôh" {% if histoire.nom_region == 'Gôh' %} selected {% endif %}>Gôh</option>
                                        <option value="Gontougo" {% if histoire.nom_region == 'Gontougo' %} selected {% endif %}>Gontougo</option>
                                        <option value="Grands_Ponts" {% if histoire.nom_region == 'Grands_Ponts' %} selected {% endif %}>Grands-Ponts</option>
                                        <option value="Guémon" {% if histoire.nom_region == 'Guémon' %} selected {% endif %}>Guémon</option>
                                        <option value="Hambol" {% if histoire.nom_region == 'Hambol' %} selected {% endif %}>Hambol</option>
                                        <option value="Haut_Sassandra" {% if histoire.nom_region == 'Haut_Sassandra' %} selected {% endif %}>Haut-Sassandra</option>
                                        <option value="Iffou" {% if histoire.nom_region == 'Iffou' %} selected {% endif %}>Iffou</option>
                                        <option value="Kabadougou" {% if histoire.nom_region == 'Kabadougou' %} selected {% endif %}>Kabadougou</option>
                                        <option value="Indénié_Djuablin" {% if histoire.nom_region == 'Indénié_Djuablin' %} selected {% endif %}>Indénié-Djuablin</option>
                                        <option value="Lôh_Djiboua" {% if histoire.nom_region == 'Lôh_Djiboua' %} selected {% endif %}>Lôh-Djiboua</option>
                                        <option value="La_Mé" {% if histoire.nom_region == 'La_Mé' %} selected {% endif %}>La Mé</option>
                                        <option value="Moronou" {% if histoire.nom_region == 'Moronou' %} selected {% endif %}>Moronou</option>
                                        <option value="Nawa" {% if histoire.nom_region == 'Nawa' %} selected {% endif %}>Nawa</option>
                                        <option value="N_Zi" {% if histoire.nom_region == 'N_Zi' %} selected {% endif %}> N'Zi</option>
                                        <option value="Poro" {% if histoire.nom_region == 'Poro' %} selected {% endif %}>Poro</option>
                                        <option value="San_Pédro" {% if histoire.nom_region == 'San_Pédro' %} selected {% endif %}>San-Pédro</option>
                                        <option value="Sud_Comoé" {% if histoire.nom_region == 'Sud_Comoé' %} selected {% endif %}>Sud-Comoé</option>
                                        <option value="Tchologo" {% if histoire.nom_region == 'Tchologo' %} selected {% endif %}>Tchologo</option>
                                        <option value="Tonkpi" {% if histoire.nom_region == 'Tonkpi' %} selected {% endif %}>Tonkpi</option>
                                        <option value="Worodougou" {% if histoire.nom_region == 'Worodougou' %} selected {% endif %}>Worodougou</option>
                                    </select>
								</div>
								<div class="col-md-4 mb-3">
                                <label for="department">Département :</label>
                                <select class="custom-select" name="department" id="departmentmodif">
                                <option value="option" >kolo</option>
                                        <!-- Options seront mises à jour dynamiquement -->
                                </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="quartier">Choisissez une sous préfecture :</label>
                                    <select class="custom-select" name="sous_prefecture"  id="subPrefecture" onchange="updateVillages()">
                                    <option value="">Sélectionnez une sous_préfecture</option>
                                     <!-- Options seront mises à jour dynamiquement -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Nom de l'enqueteur</label>
                                    <div class="input-group">
                                        <input id="nomenq" type="text" class="form-control  speech-input" name="nomenq" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Prénom de l'enqueteur</label>
                                    <div class="input-group">
                                        <input id="name1" type="text" class="form-control speech-input" name="prenomenq" required>
                                    </div>
                                </div>
								<div class="col-md-3 mb-3">
                                    <label for="village">Choisissez un village :</label>
                                    <select class="custom-select" id="village"  name="village">
                                        <option value="">Sélectionnez un village</option>
                                             <!-- Ajoutez ici les options du village dynamiquement si nécessaire -->
                                     </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Signification</label>
                                    <div class="input-group">
                                        <textarea type="text" name="signification" class="form-control speech-input" id="signification" placeholder="" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Nom Déclarant</label>
                                    <div class="input-group">
                                        <input name="nomdec" type="text" class="form-control speech-input" id="nomdec" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Prénom Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="prenomdec" class="form-control speech-input" id="prenomdec" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Qualité Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="qualitedec" class="form-control speech-input" id="nondec" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Date de naissance déclarant</label>
                                    <div class="input-group">
                                        <input type="date" name="datedec" class="form-control" id="datedec" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lieu de naissance Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="lieundec" class="form-control speech-input" id="lieundec" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lieu de résidence Déclarant</label>
                                    <div class="input-group">
                                        <input type="text" name="lieudec" class="form-control speech-input" id="lieudec" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Non fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="nomf" class="form-control speech-input" id="nomf" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Prénom fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="prenomf" class="form-control speech-input" id="prenomf" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Activitées fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="activitef" class="form-control speech-input" id="activitef" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lieu d'inhumation</label>
                                    <div class="input-group">
                                        <input type="text" name="lieuinf" class="form-control speech-input" id="lieuinf" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Origine fondateur</label>
                                    <div class="input-group">
                                        <input type="text" name="originef" class="form-control speech-input" id="originef" required>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="ville">Personnes Trouvée sur les Lieux:</label>
                                    <select  class="custom-select mb-3" id="personne_trouve" name="personne_trouve">
                                        <option value="Village">Village</option>
							            <option value="groupement de personne">Groupement De Personne</option>
							            <option value="Aucune">Aucune</option>
							            <option value="Campement">Campement</option>
                                    </select>
                                </div>
                            </div>
                        <div class="form-row">
                        <div class="container mt-4">
                                   <label for="ville">citer si possible les villages/campement/ou groupement de personne trouvés sur les lieux :</label>
                           <div id="villagetrouves">
                            <!-- Les champs de saisie des cités des villagetrouves regroupés seront ajoutés ici -->
                            </div>
                          <div class="form-row mb-3">
                            <button type="button" id="add-villagetrouve" class="btn btn-success">+</button>
                         </div>
                         <input type="hidden" id="villagetrouve_count" name="villagetrouve_count" value="0">
                         </div>




                                <div class="col-md-3 mb-3">
                                <label for="ville">A t'il passé des accords:</label>
                                    <select  class="custom-select mb-3" id="accord" name="accord" >
                                        <option value="Oui">oui</option>
							            <option value="Non">non</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">Lien avec personnes trouvées</label>
                                    <div class="input-group">
                                        <input type="text" name="lien" class="form-control speech-input" id="personne" >
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="validationDefaultUsername">époque d'installation</label>
                                    <div class="input-group">
                                        <input type="text" name="epoque" class="form-control speech-input" list="epoque" required>
                                        <datalist id="epoque">
                                            <option value="1962">
                                            <option value="1963">
                                            <option value="Avant l'époque coloniale">
                                            <option value="1945">
                                            <option value="1950">
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-4">
                                        <label for="validationDefaultUsername">Nom,prénom et date d'installatio des successeurs</label>
                                <div id="successors">
                                <!-- Les champs de saisie des successeurs seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-successor" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de successeurs -->
                            <input type="hidden" name="successor_count" id="successor_count" value="0">
                            <div class="container mt-4">
                                      <label for="validationDefaultUsername">Lignage  et son ordre d'arrivé</label>
                                <div id="lines">
                                <!-- Les champs de saisie des lignées seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-line" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de lignées -->
                            <input type="hidden" name="line_count" id="line_count" value="0">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                <label for="validationDefaultUsername">période officialissation</label>
                                    <div class="input-group">
                                        <input type="text" name="dateoff" class="form-control speech-input" list="dateof" required>
                                        <datalist id="dateof">
                                            <option value="1962">
                                            <option value="1963">
                                            <option value="Pendant l'époque coloniale">
                                            <option value="1945">
                                            <option value="1950">
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefaultUsername">Nom de l'auritée d'officialissation</label>
                                    <div class="input-group">
                                        <input type="text" name="nomaut" class="form-control speech-input" list="nomaut" required>
                                        <datalist id="nomaut">
                                            <option value="Administration du territoire">
                                            <option value="ARSO">
                                            <option value="AVB">
                                            <option value="Le Gouverneur Angolvan">
                                            <option value=" Le Sous-préfet Diallo Souleyman">
                                            <option value="Le capitaine Marchand (Kptibo)">
                                            <option value="Le Sous-préfet Aka Alphonse">
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                <label for="ville">L'acte de création?</label>
                                    <select  class="custom-select mb-3" id="act" name="act">
                                        <option value="oui">oui</option>
							            <option value="non">non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container mt-4">
                                      <label for="validationDefaultUsername">Citer les peules des campements ensuite précisé le campement et l'origine de ces peuples</label>
                                <div id="campements">
                                <!-- Les champs de saisie des campements seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-campement" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de campements -->
                            <input type="hidden" name="campement_count" id="campement_count" value="0">
                            <div class="container mt-4">
                                   <label for="validationDefaultUsername">site d'adoration ensuite la localisation</label>
                                <div id="sites">
                                <!-- Les champs de saisie des sites d'adoration seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-site" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de sites d'adoration -->
                            <input type="hidden" name="site_count" id="site_count" value="0">
                            <div class="container mt-4">
                                       <label for="validationDefaultUsername">Encients sites et le motif du départ </label>
                                <div id="ancient-sites">
                                <!-- Les champs de saisie des anciens sites seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-ancient-site" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre d'anciens sites -->
                            <input type="hidden" name="ancient_site_count" id="ancient_site_count" value="0">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                <label for="mode_accès_terre">Mode d'accès à la terre?</label>
                                    <select  multiple class="form-control custom-select mb-3" id="mode" name="mode">
                                        <option value="Héritage">héritage</option>
							            <option value="Dont">dont</option>
							            <option value="Prêt ">prêt </option>
							            <option value="Achat">achat</option>
							            <option value="Location">Location</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="terre_terre">Chef de terre?</label>
                                    <select  class="custom-select mb-3" id="chef" name="chef">
                                        <option value="oui">oui</option>
							            <option value="non">non</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="ville">Mise à la disposition?</label>
                                    <select  multiple class="form-control custom-select mb-3" id="disposition" name="disposition">
                                        <option value="Héritage">héritage</option>
							            <option value="Dont">dont</option>
							            <option value="Prêt ">prêt </option>
							            <option value="Achat">achat</option>
							            <option value="Location">Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container mt-4">
                                   <label for="validationDefaultUsername">Citer les villages régroupés pour former le village actuel</label>
                                <div id="villages">
                                <!-- Les champs de saisie des cités des villages regroupés seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-village" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de cités des villages regroupés -->
                            <input type="hidden" name="village_count" id="village_count" value="0">
                            <div class="container mt-4">
                                       <label for="validationDefaultUsername">Citer les villages voisins et leur limites avec le village actuel précisé s'il y'a des zones de litiges</label>
                                <div id="limite_village_litige">
                                <!-- Les champs de saisie de limites, villages en litige seront ajoutés ici -->
                                </div>
                                <div class="form-row mb-3">
                                    <button type="button" id="add-limite-village-litige" class="btn btn-success">+</button>
                                </div>
                            </div>
                            <!-- Champ caché pour stocker le nombre de limites de villages en litige -->
                            <input type="hidden" name="limite_village_litige_count" id="limite_village_litige_count" value="0">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                <label for="validationDefaultUsername">complément</label>
                                    <div class="input-group">
                                        <textarea class="form-control speech-input" placeholder="parler maintenant" rows="5" cols="40" name="complement"lang="fr"></textarea>
                                    </div>
                                </div>
                            </div>







                            <div class="card-action">
							    <button class="btn btn-success">enregistrez</button>
                                <a href="{% url 'index' %}" class="btn btn-danger">Accueil</a>
						    </div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













 <script>
    const regionsData = {
      District_Abidjan: {
        departments: ["Abidjan"],
        subPrefectures: {
          Abidjan: ["Anyama","Abobo","Adjame","Attecoube","Bingerville","Songon","Cocody","Koumassi","Marcory","Plateau","Port-Bouet","Treichville","Yopougon"],


        },
        villages: {
          "Anyama":["Anyama", "Akéïkoi", "Abbé-Broukoi 1", "Abbé-Broukoi 2", "Anyama-Adjamé", "Anyama-Ahouabo", "Anyama-Zossonkoi", "Azaguié-Blida", "Christiankoi 1", "Christiankoi 2", "Ebimpé", "Thomasset", "Yapokoi", "Adattié", "Akoupé-Zeudji", "Allokoi", "Adonkoi 1", "Adonkoi 2", "Attinguié", "M'Bonoua", "M'Brago 1", "M'Brago 2", "Adaromé", "M'Pody"],
          "Abobo": ['Abèbroukoi', 'Abobo-Baoulé', 'Abobo-té', 'Agbèkoi','Agnissankoi', 'Anonkoua-Kouté', 'Djibi', 'N\'Guessankoi'],
          "Adjame": ["Adjamèmin"],
          "Attecoube": ['Abidjan-Agban', 'Abidjan-Agban', 'Abidjan-Agban','Abidjan-Agban', 'Abidjan-Agban'],
          "Bingerville":["Abatta", "Achokoi", "Adjamé-Bingerville", "Adjin", "Akandjè", "Akouai-Agban", "Akouai-Santai", "Akouédo-Attié", "Akoyaté", "Anan", "Angorankoi", "Bingerville", "Koffikro", "Sébia-Yao", "Brégbo", "Elokaté", "Elokato", "M'Batto-Bouaké"],
          "Songon": ["Abadjin-Bimbresso", "Abadjin-Doumé", "Abadjin-Kouté", "Audouin-Beugretto", "Audouin-Assadin", "Ayéwahi", "Djèpoté", "Djèpoto", "Djèpoto Israel", "Godoumin", "M'Brathé-Attié", "Songon-Agban", "Songon-Agban- Attié 1", "Songon-Agban- Attié 2", "Songon-Dagbé", "Songon-Kassemblé", "Songon-M'Brathé", "Songon-Té", "Abiaté 2", "Bago", "Guébo 1", "Guébo 2", "Kossihouen", "Nonkouagon"],
          "Cocody": ["Abèbroukoi", "Abobo-Baoulé", "Abobo-té", "Agbèkoi", "Agnissankoi", "Anonkoua-Kouté", "Djibi", "N'Guessankoi"],
          "Koumassi": [],
          "Marcory": ["Abia-Abéti", "Abia-Koumassi", "Anoumambo"],
          "Plateau": [],
          "Port-Bouet": ["Abia-Gnambo", "Abouabou", "Adjahui-Coubè", "Amangouakoi", "Mafiblé I", "Mafiblé II", "Vridi Ako"],
          "Treichville": [],
          "Yopougon":["Adiopodoumin/Adiopodoumé", "Andokoi", "Azito", "Banco 1", "Banco 2", "Béago", "Mambokoi", "Niangon-Adjèmin", "Niangon-Attié", "Niangon-Lokoa", "Yatsèkoi", "Yopougon-Attié", "Yopougon-Kouté", "Yopougon-Santè"],


        }
      },

      District_Yamoussoukro: {
        departments: ["Yamoussoukro","Attiegouakro"],
        subPrefectures:{
        Yamoussoukro: ["Yamoussoukro","Kossou"],
        Attiegouakro:["Lolobo","Attiegouakro"],

        },
         villages:{
         "Attiegouakro":["Ahondo", "Attiégouakro", "Gofabo", "Kacou-Broukro", "Mahounou-Nanafoué", "Abokouamékro", "Aka-Yaokro", "Labokro", "Koimoi-Dibikro", "Morokinkro", "Tokoré-Yaokro"],
         "Lolobo":["Drékro", "Fassou", "Konan-Koffikro", "Lolobo", "N'Dèbo", "N'Dènou", "Akimou-Yaokro", "Allangoua", "Assanou", "M'Gbessou", "N'Gbékro", "N'Guessankro", "N'Zéré", "Ouffouédiekro", "Aguibri", "Diaman-Sakassou", "Koriakro", "Ménou", "Sakiaré", "Tounzouébo"],
         "Kossou": ["Allai-Yaokro", "Amonkro", "Angossè", "Attrénou", "Bocabo", "Kossou", "Toumbokro", "Gogokro", "Yobouékro", "Zatta", "Zougounou"],
         "Yamoussoukro":["Abouakouassikro", "Aboukro", "Akpessékro", "Bèzro", "Bonzi", "Dougounoukouadiokro", "Kami", "Kpoussoussou", "Logbakro", "Nanan", "N'Dakonankro", "N'Gattakro", "Sahabo", "Séman", "Yamoussoukro", "Kongouanou", "Mahounou-Akoué", "Suibonou", "Ténikro", "Yobouébo-Gbélissou", "Abakro", "Duokro", "Kroukroubo", "Subiakro", "Anoumangoua", "Djamalabo", "Fondi", "Gourominankro", "Morofè", "N'Gokro", "N'Zuessy", "Zambakro"],
         }


      },
      Agnéby_Tiassa: {
      departments: ["Taabo","Agboville","Tiassalé","Sikensi"],
      subPrefectures:{
        Taabo:["Pacobo","Taabo"],
        Agboville:["Aboude", "Ananguie", "Agboville", "Attobrou", "Azaguié", "Céchi", "Grand-Morié", "Guessiguié", "Loviguié", "Oress-Krobou", "Rubino"],
        Tiassalé:["Gbolouville", "Morokro", "N’Douci", "Tiassalé"],
        Sikensi: ["Gomon", "Sikensi"],


        },
        villages:{
         "Pacobo":["Adikouassikro", "Ahérémou 1", "Ahouakro", "N'Da-Gnamien", "Pacobo", "Singrobo"],
         "Taabo":["Ahondo", "Kokoti-Kouamékro", "Kotiessou", "N'Dénou", "Taabo", "Taabo village", "Ahérémou 2", "Ahouati", "Amani Ménou", "Katiénou", "Léléblé", "Sahoua", "Sokrogbo", "Tokohiri", "Zougoussi"],
         "Aboude": ["Aboudé-Kouassikro", "Aboudé-Mandéké", "Kouadjakro"],
         "nanguie":  ["Achi-Brou ho", "Adahi Kassikro", "Adamaho", "Aké-Douanier", "Ananguié", "Ananguié-Aukoho", "Arrikoho", "Balet ho", "Essegnon"],
         "Agboville":["Adahou", "Agboville", "Ango", "Babiahan", "Banguié 1", "Bonikro", "Ery-Makouguié 1", "Ery-Makouguié 2",
                     "Gbalékro", "Grand-Moutcho", "Laoguié", "N'Chompo", "Offoriguié", "Boka Oho", "Ehouéguié", "Grand-Yapo",
                     "Offa", "Offompo", "Ouanguié", "Petit-Yapo", "Yapo-Gare", "Yapo-Kpa"] ,
         "Attobrou":["Attobrou", "Boguié", "Copa", "Séguié", "Yadio"],
         "Azaguié": ["Abbé-Bégnini", "Azaguié-Ahoua", "Azaguié-Gare", "Achiékoi", "Azaguié-Makouguié", "Azaguié-M'Bromé", "Donkoi"],
         "Céchi":["Amani-N'Guessankro", "Banguié 2", "Bédé-N'Goran-M'Po", "Céchi", "Kouamékro", "Mitichi", "Trénou"],
         "Grand-Morié":["Agouahin", "Arraguié", "Grand-Morié", "Lapo", "Mafou", "M'Battra", "M'Bérié", "Okouguié"],
         "Guessiguié": ["Aké-Béfiat", "Allahin", "Attéhou", "Dingbè", "Elévi", "Guessiguié 1", "Guessiguié 2", "Kassiguié", "M'Brou", "Odoguié", "Ottopé 1", "Ottopé 2"],
         "Loviguié":["Anno", "Gbessé", "Loviguié 1", "Loviguié 2", "Wahin"],
         "Oress-Krobou": ["Oress-Krobou"],
         "Rubino": ["Adomokro", "Dey-Oboguié", "Kamabrou", "Rubino", "Ségbévi", "Allany", "Amangbeu", "Brou-M'Po", "Gouabo", "Kédjempo", "Kotchi-M'Po", "Ouélézoué"],
         "Gbolouville": ["Akalékro", "Akoungou", "Amani Kouamékro", "Botindé", "Broubrou", "Ehuakré", "Gbolouville", "Irobo"],
         "Morokro":  ["Adomkro", "Affikro", "Affounvassou", "Ahiroa", "Amanikro", "Diallokro", "Ehouman Koffikro", "Kassasso", "Kondiébouma", "Koyékro", "Kravasso", "Moofoué", "Morokro", "Trochu"],
         "N’Douci": ["Abevé", "Attiguéhi", "Batéra", "Bodo", "Boussoukro", "Djahakro", "Kanga-Nianzé", "Kodimasso", "N'Douci", "Niamazra", "Nianda", "Offa"],
         "Tiassalé":["Broukro", "Dibykro", "Komenan-Gbéi", "Niamoué", "Taboitien", "Tiassalé/Tiassalékro", "Ahua", "Akoudjé", "Assinzè", "Elosso", "Gnankan-Gnankanso", "Gnanzobly", "Kouadio-Yaokro", "Mafia", "M'Brimbo", "Nanan Yassouakro", "N'Zianouan", "Sindressou", "Sokrogbo Carrefour", "Tollakro"] ,
         "Gomon": ["Gomon", "Sahuyé", "Sahuyé-Carrière", "Yaobou"],
         "Sikensi": ["Badasso", "Bakanou B", "Bécédi", "Brafouéby", "Ellibou", "Katadji", "Sikensi", "Abiéhou", "Bakanou A", "Soukou-Obou"],


           }

      },
      Bafing: {
      departments: ["Koro","Ouaninou","Touba"],
      subPrefectures:{
           Koro:["Booko", "Borotou", "Koro", "Mahandougou", "Niokosso"],
       Ouaninou: ["Gbelo", "Gouekan", "Koonan", "Ouaninou", "Saboudougou","Santa"],
          Touba:["Dioman", "Foungbesso", "Guintéguéla", "Touba"],

      },

      villages:{
          "Booko":[
                    "Booko", "Dienguéré", "Dougbè", "Farako-Moambasso", "Kessienko",
                    "Méfandougou", "Mémadougou 1", "Niamandougou", "Sagbanikoro", "Toranou",
                    "Banadougou", "Blamadougou", "Diabissédougou", "Diala", "Mofouinso",
                    "Ourossanisso", "Sokoro-Kessienko", "Tiémokodougou", "Tienlo", "Booro-Kessienko",
                    "Brimala", "Douagbesso", "Féna-Barala", "Koffina", "Konsasso-Massala",
                    "Lahomodougou", "Massala-Barala", "Massala-Sokourani", "Ouayèrè", "Sémodougou",
                    "Séna", "Somana", "Tiana", "Badala", "Kaala", "Kessesso", "Konsasso-Sokourala",
                    "Moako-Booko", "Moambasso", "Sessinko", "Silakoro-Moambasso", "Silakoro-Sokourala", "Tounzi"],

        "Borotou":["Borotou", "Ouassiko", "Sékodougou 1", "Bambadougou", "Bilalo", "Moyendougou", "Niamoutou", "Tiékoronidougou", "Vakorodougou", "Zoumassadougou"],
        "Koro":["Farako-Koro", "Gouaké", "Koro", "Lakomandougou", "Massala-Koro", "Moako-Koro", "Touresso", "Vabouesso", "Yakorodougou", "Booro-Borotou", "Borotou-Koro", "Bountou", "Fokandougou", "Kalassi 2", "Kountiguisso", "Miambondougou", "Morifinso", "Nibillo", "Sanankoro", "Windou-Koro"],
        "Mahandougou":["Barabarasso", "Barala-Soba", "Blandougou", "Bonangoro", "Bonigoué", "Koningouélo 1", "Koningouélo 2", "Mahandougou", "Modougou", "Niendougou", "Ourossoungoro"],
        "Niokosso": ["Barazan", "Bini", "Desséné", "Kalassi 1", "Karamotiédougou", "Massabouédougou", "Niokosso", "Sézendougou", "Silafresso", "Touresso", "Vacabadougou", "Vafindougou"],
        "Gbelo": ["Banadjéna", "Banangoro", "Booni-Gbélo", "Gbango", "Gbèlo", "Gouan", "Gouatoulo", "Kossafinizo", "Mandougou", "Sahouéla", "Sesso", "Sidougou-Ouondonon", "Sifié-Mahou", "Sinigoro", "Têko", "Toufinga", "Yamafasso"],
        "Gouekan":["Gbédéma", "Gouékan", "N'Gohisso", "Oualou-Gouékan", "Sodiman", "Sougouékan", "Toubako-Gouékan", "Vayasso"],
        "Koonan":["Bayola", "Koonan", "Monzonan", "Soula", "Fouana", "Golla", "Massédougou", "Missadougou","Sékodougou", "Sialou", "Ténémassa", "Togbadougou", "Vassamadougou", "Yaffè"],
        "Ouaninou":[
                     "Binvè", "Férentella", "Ganhoué", "Konigoro 1", "Kozéma", "Lahidougou", "Oualou-Ganhoué", "Ouaninou", "Sèfina",
                     "Silakoro-Ganhoué", "Sinkoro", "Tirikoro", "Toubako-Ganhoué", "Toutié", "Konigoro 2", "Babadougou", "Bassam",
                     "Bayola", "Békosso", "Bondounlo", "Bounda", "Faala", "Goloutoulo", "Goloutounvè", "Gooko", "Guê", "Koungbèkoro",
                     "Méhidougou", "Ohidougou", "Ouintoulo", "Sakofè", "Sanandougou", "Sérifoula", "Sidougou-Ganhoué", "Tiahoué",
                     "Tiékomandougou", "Tiénivè", "Tika", "Toulo", "Vacérisso"],
        "Saboudougou":["Gomandougou", "Kpoho 1", "Ouéna", "Saboudougou", "Sogbessèdougou", "Zodoufouma"],
        "Santa":["Drodougou", "Gbagbadougou", "Gondodougou", "Gouékro", "Kossagui", "Kpoho 2", "Kpoho 3", "Nianlé","Santa", "Séfesso", "Zabanagoro"],
        "Dioman": ["Bengoro-Dioman", "Boula-Dioman", "Diesso-Dioman", "Dioman", "Fouala", "Gagnasso", "Gatasso", "Gbéka",
                  "Gbotola-Dioman", "Guénimanzo", "Kouesso", "Kouroukoro-Dioman", "Lawasso 1", "Longana", "Mamouesso", "Saala-Dioman",
                  "Saala-Guénimanzo", "Sogbosso 1", "Taako", "Touko", "Toulo", "Yengoro"],
        "Foungbesso":["Bafingdalla", "Bakandesso", "Baniga", "Bémasso", "Boutisso", "Dépanon", "Dolla", "Douasso",
                      "Fouénan", "Foungbesso", "Gasso", "Goh", "Gouana", "Gouékolo 1", "Gouékolo 2", "Gouéla-Gouana",
                      "Koungo", "Landué", "Lawasso 2", "Mamouesso", "Massasso", "N'Gamonso", "Niéna-Fouénan", "Ohisso",
                      "Singosso 1", "Singosso 2", "Sogbéni", "Sogbosso 2", "Sokourala-Gouana", "Souatiesso", "Tiéfinisso",
                      "Tiékourasso", "Tiémanso", "Tiémonisso", "Tirikoro", "Vahibasso", "Wagnangoro", "Yaala-Fouénan", "Yamatoullo", "Zouandesso"],
        "Guintéguéla": ["Banzi", "Faman", "Guintéguéla", "Kongorana", "Konima", "Tienfou", "Vacerrisso", "Bahadala", "Bontoma", "Bonzo", "Doh", "Fénan", "Gbétéma", "Gouana", "Gouralo",
                         "Kaako", "Kolon", "Madialo", "Ouébasso", "Sorotoma"],
        "Touba": ["Fobédougou", "Kamassella", "Kohidougou", "Kouroukoro-Kamassella", "Mahana", "Mimballa",
                 "N'Golodougou", "Orossanisso", "Saala-Kamassella", "Sanakoro", "Sékodougou", "Siano", "Touba",
                 "Toubako-Kamassella", "Yo", "Bangofè", "Bengoro-Tienko", "Bénigoro", "Bianko", "Boola",
                 "Booni", "Bouindala", "Fahimasso", "Gbanadougou", "Godofouna", "Gouéla-Tienko", "Londanan",
                 "Madina", "Morigbèdougou", "Silakoro", "Sokourala-Mahou", "Tiasso", "Tiékourasso-Tienko",
                 "Tienko", "Toa", "Touéla", "Yaala-Touba", "Yatienso", "Zaala", "Zoh"],
      }


      },

      Bagoué:{
        departments:["Boundiali","Kouto","Tengréla"],
        subPrefectures:{
              Boundiali:["Baya", "Boundiali", "Ganaoni", "Kasséré", "Siempurgo"],
               Kouto:["Blességué", "Gbon", "Kolia", "Kouto", "Sianhala"],
            Tengréla:["Débété", "Kanakono", "Papara", "Tengréla"],
        },

       villages:{
             "Baya":["Baya", "Kofré", "Koundin", "Nongana", "Toungboli", "Yélé"],
             "Boundiali": ["Boundiali", "Gnagnon", "Nondara", "Samorosso", "Tombougou", "Diogo", "Farandougou", "Gbando", "Gbémou", "Guinguéréni", "Kaniéné", "Kébi", "M'Bia", "N'Dara", "Niguédougou", "Ouazomon", "Sélého", "Sokoura"],
             "Ganaoni":["Bolondo", "Djigbè", "Ganaoni", "Kambiala", "Karakpo", "Katiali", "Kounoumon", "Mirimiri", "Niempurgué", "Pahatogo", "Sissédougou", "Sisséplé", "Ziédougou"],
             "Kasséré":["Kasséré", "Pinvoro", "Pongafré", "Sionfan", "Blagounon", "Gbalo", "Lafi", "Landiougou", "Sienré", "Tiasso", "Tomba"],
             "Siempurgo": ["Bongama", "Fodio", "Fonondara", "Kanitélégué", "Katiendé", "Katiéré", "Mouhouélé", "Nangbolokaha", "Naoulékaha", "Nitiakaha", "Nonkparakaha", "Pindio", "Pononkaha", "Poundiou", "Siempurgo", "Sogo", "Tiangaloro", "Yama"],
             "Blességué":["Blességué", "Bougoula", "Gbini", "Kakorogo", "Portio", "Sanaoulé", "Singo", "Tianna", "Tiogo"],
             "Gbon":["Gbon", "Dendrasso", "Gbambiasso", "Mahalé", "Nibrini", "Ninioro", "Pouniakélé", "Tounvré", "Ziasso"],
             "Kolia":["Kolia", "Dabakaha", "Blédiéméné", "Douhokaha", "Fahankaha", "Katanra", "Kodiaga", "Koro", "Kpafonon", "Monongo"],
             "Kouto": ["Boyo", "Kouto", "Samorossoba", "Timboroni", "Nimbiasso", "Ouomon", "Tabakoroni", "Tindara", "Tioro", "Wora", "Zaguinasso"],
             "Sianhala":["Kélégbala", "Mougnini", "N'Déou", "N'Douasso", "Sianhala", "Tinasso", "Zanasso 1", "Zanasso 2"],
             "Débété":["Béniasso", "Débété", "Kouroukoro", "Nianrangba", "Sirakoro"],
             "Kanakono":["Kanakono", "Lomara", "Popo", "Pourou", "Sissengué", "Zanikaha"],
             "Papara":["Basso", "Doubasso", "Iribasso", "Kapégué", "Kokari", "Kolonza", "Koulousson", "Papara", "Tiongoli", "Zanasso", "Ziékoundougou"],
             "Tengréla":["Danzourou", "Daraniani", "Djoguinasso", "Flabougou", "Kotou", "Maniasso", "M'Basso", "Naniasso", "Nigouni",
                          "Sorokoumo", "Tamania", "Tengréla", "Tialaka", "Tiendérimé", "Zélesso", "Bolona", "Bougoula", "Diamankani", "Dougba",
                          "Féni", "Fimbiasso", "M'Bélé", "Missasso", "Néguépié", "San", "Tiébi", "Tiempa"],

       }

    },


   Bélier:{
        departments:["Didiévi","Tiébissou","Djékanou","Toumodi"],
        subPrefectures:{
            Didiévi:["Boli", "Didiévi", "Molonou-Blé", "Raviart", "Tié-N'Diékro"],
            Tiébissou:["Lomokankro", "Molonou", "Tiébissou", "Yakpabo-Sakassou"],
            Djékanou:["Bonikro","Djékanou"],
            Toumodi: ["Angoda", "Kokoumbo", "Kpouébo", "Toumodi"],
        },

        villages:{
        "Boli": ["Adjébo", "Aka-Kouamékro", "Allanikro", "Andokoi-Kouamékro", "Boli", "Bondoukou", "Grodiékro", "Kongobo", "Labo", "Takikro","Abo Kouadiokro"],
        "Didiévi":["Ahougnanou", "Allokokro", "Attien-Kouassikro", "Broukro-Totokro 1", "Broukro-Totokro 2",
                     "Didiébou-Dioula", "Didiévi", "Kouakou-Koffikro", "Kouamé-Akaffoukro", "Kouassi-Kprékro",
                     "Koukoun-Zogrékro", "Krayabo", "Langui-Kouadiokro", "N'Da-Akissikro", "Attékro",
                     "Anouazè-Okabo", "Bodo", "Groyakro", "Kangrassou", "Kondrokro-Djassanou",
                     "N'Zikpri-Sessékro", "Yalombi-Kouassikro", "Yoboua-Allanikro"],
        "Molonou-Blé": ["Assé-Blendoukro", "Boté-N'Din", "Boungué", "Golikro-Molonou", "Kokro-Kouassikro",
                        "Konansuikro", "Kotoblinoi", "Kouadio-Gbangakro", "Lékissou", "Lékissou-Kaabo",
                        "Molonou-Blé", "N'Drikro", "N'Guessankro", "Sakri", "Somélakro", "Aka-Djémélékro",
                        "Akaffoukro", "Allialikro", "Assankro", "Assouakro", "Ayengrébo", "Bossi",
                        "Diamankro", "Golikro-Srè", "Kouamé-Akoikro", "Kpacobo-Konankro", "Kpolessou",
                        "Krou-Okoukro", "Mafé", "M'Bam", "N'Gom", "N'Guyakro", "Okoubonou", "Polonou",
                        "Sarakakro", "Tahoussou", "Yaakro"],
        "Raviart":["Angan-Koffikro", "Fitahissou", "Kouakoukro", "Kouassi-Kongokro", "Manan-Yaokro","N'Da-N'Guessankro", "N'Gban-Kassé", "Offouet-Kouadiokro", "Raviart", "Sawa"],
        "Tié-N'Diékro": ["Assihué (Bendé-Tanoukro+Landonou+Salékro)", "Attiégouakro", "Djamankro", "Kongoli-Kouamékro",
                         "Kouamé-Konankro", "N'Djè", "Tié-N'Diékro", "Yao-Loukoukro", "Yobouéblessou", "Kpèbo",
                          "Ouffouékro", "Yao-Blékro"],

        "Lomokankro": ["Aboblakro", "Amienkro", "Assé-N'Gattakro", "Assoko Yao Djèkro", "Atchien Koffikro", "Bakro-Sakassou",
                         "Bondoukou", "Bongobo", "Bouégbessou", "Bouékro", "Djahakro", "Gogokro", "Koffi N'Gorankro", "Koua-Kouassikro",
                         "Kouassi-Afflékro", "Kpodjou-Kpangbassou", "Lomokankro", "Lougbéli", "N'Gangoro-Attoutou", "N'Gatta-N'Guessanblékro",
                         "N'Zissiessou", "Passanou", "Wawakro"],
        "Molonou": ["Abé", "Abrika", "Aman-Salékro", "Amanzi", "Assuikro", "Do-Sakassou", "Grogro", "Koffi Agrokro",
                   "Komorossou", "Konan Kuikro", "Konankro", "Kondrobo", "Molonou", "N'Dénou", "Niamienkro", "Ya-Dibikro", "Yuakré"],
        "Tiébissou":["Bofia","Bomizambo", "Golibo", "Koffi-Kouassikro", "Kondé-Yaokro", "Koubi", "N'Gangoro Nanafouè", "Propronou",
                     "Taki-Salékro", "Tiébissou", "Affoué-Kokorékro", "Ahitou-Kongonou", "Ahougnassou-Allahou", "Ahougnassou-N'Drikro",
                        "Ahougnassou-N'Gbanou", "Ahoumouan-Kouamékro", "Akoi-N'Dénou", "Alahou", "Alahou-Koffikro", "Allaha-Koffikro",
                     "Assabonou", "Assé-Djèkro", "Assé-M'Bo", "Assé-N'Gou", "Ayaprikro", "Bopri", "Djangokro", "Djézoukro",
                      "Duibo", "Kaabo", "Kpato-Djamalabo", "M'Bouédio", "Mékoinkro", "Minambo", "N'Gattadolikro", "N'Gokro",
                       "Tollabonou", "Totokro", "Yao-Golikro"],
        "Yakpabo-Sakassou":["Abigui", "Adikro", "Apangokro", "Assamoikro", "Assoko-N'Guessankro", "Boniankro", "Galébo", "Kanango",
                             "Konan-Kékérékro", "Kongokro", "Kossou", "Miné-Kouadiokro", "N'Goimbo", "Ninkro", "Pranoi",
                             "Yakpabo-Kpangbassou", "Yakpabo-Sakassou", "Yao Do Kouassikro", "Yobouébo"],
        "Bonikro": ["Abouakakro 2", "Assékouamékro", "Bonikro", "Gbohua", "N'Dakououassikro", "N'Kloïdjo", "Tollakro"],
        "Djékanou":["Abouakakro 1", "Assoikro", "Bringakro", "Djékanou", "Lalièkro",
                    "Mougnan", "Tafissou", "Yaokouadiokro", "Yobouébo", "Alluiminankro", "Angbavia"],

        "Angoda":["Angonda", "Assafou", "Djangoménou", "Gbakroukro", "Gbofia", "Kétékré-Bonikro",
    "Koffidjèkro", "Konan Kokorékro", "Lomo-Nord", "Mougokro", "N'Guessankro"],
    "Kokoumbo":["Kimoukro", "Kokumbo", "Kplessou", "Makankouamékro", "Niamkey-Konankro",
               "N'Zabonou", "Ahouékro", "Akroukro", "Assinzè", "Bériaboukro", "Gbogbobo",
                "Gbonti", "Kassékro", "Kondokro", "Langossou", "N'Dakro", "N'Guessanbakro",
                "Oko", "Pêhkouassikro", "Sérémé"],
    "Kpouébo":["Adaou", "Akakro-N'gban", "Assakra", "Dida-Blé", "Dida-Kouadiokro",
                "Dida-N'Glossou", "Dida-Yaokro", "Kalékoua", "Kpouèbo", "Moronou", "Oussou"],
    "Toumodi":[    "Abli-Aloukro", "Abli-Bonikro", "Agbagnassou", "Akouékouadiokro", "Bendressou",
              "Blé", "Diékèkro", "Kahankro", "Ouaouakro", "Pokoukro", "Toto-Kouassikro",
                "Toumodi / Toumodikro", "Zahakro", "Akakro N'Zikpri", "Akunvikro", "Anikro",
                 "Assounvouè", "Bony Akoissikro/Bofrebo", "Comékro", "Dougba", "Kadjokro",
                "Kouamé-Bonou", "Lahourébo", "Lomo-Sud", "Loukou-Yaokro", "N'Doukahakro",
                "Sakassou", "Tontonou", "Tontonou-Koffikro", "Yobouébo"],
        }

    },



   Kakpin :{
    },
    };

    const regionSelect = document.getElementById("region");
    const departmentSelect = document.getElementById("department");
    const subPrefectureSelect = document.getElementById("subPrefecture");
    const villageSelect = document.getElementById("village");

    function updateDepartments() {
      const selectedRegion = regionSelect.value;
      const departments = regionsData[selectedRegion].departments;
      fillSelect(departmentSelect, departments);
      updateSubPrefectures();
    }

    function updateSubPrefectures() {
      const selectedRegion = regionSelect.value;
      const selectedDepartment = departmentSelect.value;
      const subPrefectures = regionsData[selectedRegion].subPrefectures[selectedDepartment];
      fillSelect(subPrefectureSelect, subPrefectures);
      updateVillages();
    }

    function updateVillages() {
      const selectedRegion = regionSelect.value;
      const selectedDepartment = departmentSelect.value;
      const selectedSubPrefecture = subPrefectureSelect.value;
      const villages = regionsData[selectedRegion].villages[selectedSubPrefecture];
      fillSelect(villageSelect, villages);
    }

    function fillSelect(selectElement, options) {
      // Supprimer les options actuelles
      selectElement.innerHTML = "";

      // Ajouter les nouvelles options
      options.forEach(option => {
        const optionElement = document.createElement("option");
        optionElement.value = option;
        optionElement.text = option;
        selectElement.add(optionElement);
      });
    }

    // Initialiser les départements au chargement de la page
    updateDepartments();
  </script>
{% endblock content %}
