{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}
	<div class="content">
		<div class="page-inner">
			<!-- Card -->
			<h4 class="page-title">Les détails du village {{ histoire.nom_village  }}</h4>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-success card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-placeholder"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Région</p>
										<h4 class="card-title">{{ histoire.nom_region }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-warning card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-placeholder"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Département</p>
										<h4 class="card-title">{{ histoire.nom_departement }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-success card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-signs-3"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Sous préfecture</p>
										<h4 class="card-title">{{ histoire.sous_prefecture }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-secondary card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-success"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Act de création</p>
										<h4 class="card-title">{{ histoire.acte_creation }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card With Icon States Color -->
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-clock-1 text-warning"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Date d'installation</p>
										<h4 class="card-title"> {{ histoire.epoque_installation }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-user text-success"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Autorité d'officialisation</p>
										<h4 class="card-title">{{ histoire.autoriteoff }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-clock-1 text-danger"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Date officialisation</p>
										<h4 class="card-title">{{ histoire.dateoff}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-interface-2 text-primary"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Mode d'accès terre</p>
										<h4 class="card-title">	{% for i in histoire.mode_accès_terre %} {{ i }} {% endfor %}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card With Icon States Background -->
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-primary bubble-shadow-small">
										<i class="flaticon-interface-2"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Mise à disposion terre</p>
										<h4 class="card-title">{% for i in histoire.mode_mise_a_diposition  %} {{ i }} {% endfor %}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-info bubble-shadow-small">
										<i class="flaticon-user"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Fondateur</p>
										<h4 class="card-title">{{ histoire.nom_fondateur }}  {{histoire.prenom_fondateur }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-success bubble-shadow-small">
										<i class="flaticon-share-1"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Origine Fondateur</p>
										<h4 class="card-title">{{ histoire.origine_fondateur }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-secondary bubble-shadow-small">
										<i class="flaticon-user"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Activitées du fondateur</p>
										<h4 class="card-title">{{ histoire.activite_fondateur }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row Card No Padding -->
			<div class="row row-card-no-pd">
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-user text-warning"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category"> Lieu d'inhumation fondateur</p>
										<h4 class="card-title">{{ histoire.lieu_inhimationf }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-user text-success"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Personnes trouvées sur les lieux par le fondateur</p>
										<h4 class="card-title">{{ histoire.personne_trouve }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-error text-danger"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">y'a t'il un chef de terre?</p>
										<h4 class="card-title">{{ histoire.chef_terre }}</h4>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-twitter text-primary"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Lien entre le fondateur et les personnes trouvées</p>
										 {% if histoire.lien  %}
										<h4 class="card-title">{{ histoire.lien }}</h4>
										{% else %}
											<h4 class="card-title"> Pas de lien</h4>
											{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>









			<div class="row">



				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Liste des groupements trouvés par le fondateur(village,campement...) </b></h5>
									<hr>
									{% for i in histoire.groupement_trouve  %}
									      {% if i.groupement  %}
									   <div>{{ i.groupement }}</div>
									     {% else %}
									      <div>Aucun</div>
									   {% endif %}
									    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>A t'il passé des accords avec les personnes trouvée?</b></h5>
									<p class="text-muted">{{ histoire.accord_passe }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Les successeurs</b></h5>
								</div>
								<h3 class="text-info fw-bold">{{ histoire.succeseur_nom_prenon_date|length }}</h3>
							</div>
							<hr>
      <table class="table-responsive-sm">
        <thead>
          <tr>
              <th scope="col">Nom Prénom</th>
             <th scope="col">date d'accession</th>
          </tr>
        </thead>
      <tbody>
     	      {% for i in histoire.succeseur_nom_prenon_date  %}
         <tr>
             <td>{{ i.nom }}  {{ i.prénom }}</td>
                 {% if i.accession_date  %}
             <td>{{ i.accession_date }} </td>
                      {% else %}
             <td> inconnu </td>
                {% endif %}
          </tr>
               {% endfor %}
      </tbody>
     </table>
						</div>
					</div>
				</div>



				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Combien de lignagnes se réclamant d'un ancêtre commun?</b></h5>
								</div>
								<h3 class="text-secondary fw-bold">{{ histoire.nomlignage|length }}</h3>
							</div>
							<hr>


						<table class="table-responsive-sm">
                               <thead>
                                 <tr>
                              <th scope="col">Lignages</th>
                                <th scope="col">Ordre d'arrivé</th>
                             </tr>
                            </thead>
                            <tbody>
     	                      {% for i in histoire.nomlignage  %}
                                   <tr>
                               <td>{{ i.nom_lignage }} </td>
                                {% if i.ordre  %}
                                    <td>{{ i.ordre }} </td>
                                    {% else %}
                                      <td> inconnu </td>
                                    {% endif %}
                                        </tr>
                                  {% endfor %}
                                   </tbody>
                            </table>

						</div>
					</div>
				</div>
			</div>




			<div class="row">
				<div class="col-md-4">
					<div class="card card-secondary">
						<div class="card-body skew-shadow">
							<h3>Les campements du village leurs peuples et origines de ses peuples</h3>
							<hr>

                               <table class="table-responsive">
                              <thead>
                                   <tr>
                                     <th scope="col">Campements</th>
                                     <th scope="col">Peuples</th>
                                      <th scope="col">origines</th>
                                   </tr>
                                </thead>
                               <tbody>

                                {% if i.succeseur_nom_prenon_date  %}
     	                          {% for i in histoire.succeseur_nom_prenon_date  %}
                              <tr>

                                  <td>{{ i.nom }} </td>
                                      <td>{{ i.peuple }} </td>

                                  <td> {{ i.origine }}</td>
                                  {% endfor %}
                                  {% else %}
                                    <td> Le village n'as pas de campement </td>
                                     {% endif %}
                                 </tr>

                          </tbody>
                         </table>




						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body bubble-shadow">
							<h3>Les sites d'adorations</h3>
							<hr>

                            <table class="table-responsive-sm">
                               <thead>
                                 <tr>
                              <th scope="col">Nom site</th>
                                <th scope="col">Position</th>
                             </tr>
                            </thead>
                            <tbody>
                            {% if histoire.site_adoration  %}
     	                      {% for i in histoire.site_adoration  %}
                                   <tr>
                               <td>{{ i.name }} </td>

                                    <td class='accordion-info-mb-3'>{{ i.localisation }} </td>
                                       {% endfor %}
                                    {% else %}
                                      <td> Pas de site d'adoration </td>
                                    {% endif %}
                                </tr>

                                   </tbody>
                            </table>



						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-dark bg-secondary2">
						<div class="card-body curves-shadow">
							<h3>Anciens Sites du Village</h3>
							<hr>




                            <table class="table-responsive-sm">
                               <thead>
                                 <tr>
                              <th scope="col">Anciens sites</th>
							  <th scope="col">Motifs</th>
                             </tr>
                            </thead>
                            <tbody>
                            {% if histoire.ancien_site  %}
     	                      {% for i in histoire.ancien_site  %}
                                   <tr>
                               <td>{{ i.name }} </td>

                                    <td class='accordion-info-mb-3'>{{ i.motif }} </td>
                                       {% endfor %}
                                    {% else %}
                                      <td> Pas d'ancien site </td>
                                    {% endif %}
                                </tr>
                                   </tbody>
                             </table>






						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body skew-shadow">
							<h3>Signification non du village</h3>
							<p>{{histoire.signification }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body bubble-shadow">
							<h3>Détails du déclarant</h3>
							<div>   Nom: {{ histoire.nom_declarant}}</div>
							<div>Prénom: {{ histoire.prenon_declarant }}</div>
							<div>Qualité: {{ histoire.qualite_declarant}}</div>
							<div>Date de naissance: {{ histoire.date_naissance_declarant}}</div>
							<div>Lieu de naissance: {{ histoire.lieu_naissance_declarant}}</div>
							<div>Lieu de résidence: {{ histoire.lieu_residence_declarant}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body curves-shadow">
							<h3>Complémént</h3>
							<div>Nom: {{ histoire.complement }}</div>
						</div>
					</div>
				</div>
			</div>







               <div class="row">
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body skew-shadow">
							<h3>Villages régroupés pour former ce village</h3>
							{% if histoire.groupement_liste.0  %}
     	                      {% for i in histoire.groupement_liste  %}
							<p>{{histoire.groupement_liste }}</p>
							    {% endfor %}
                                    {% else %}
                                    <p>Ce village ne provient de groupement</p>
                                    {% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body bubble-shadow">
							<h3>Limites et litiges avec les villages voisins </h3>
							<div>   Nom: {{ histoire.nom_declarant}}</div>
							<div>Prénom: {{ histoire.prenon_declarant }}</div>
							<div>Qualité: {{ histoire.qualite_declarant}}</div>
							<div>Date de naissance: {{ histoire.date_naissance_declarant}}</div>
							<div>Lieu de naissance: {{ histoire.lieu_naissance_declarant}}</div>
							<div>Lieu de résidence: {{ histoire.lieu_residence_declarant}}</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-dark bg-secondary-gradient">
						<div class="card-body curves-shadow">
							<h3>Complémént</h3>
							<div>Nom: {{ histoire.complement }}</div>
						</div>
					</div>
				</div>
			</div>













		</div>
	</div>
{% endblock content %}
{% block extrajs %}
	<script>
		$('#lineChart').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#177dff',
			fillColor: 'rgba(23, 125, 255, 0.14)'
		});

		$('#lineChart2').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#f3545d',
			fillColor: 'rgba(243, 84, 93, .14)'
		});

		$('#lineChart3').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});

		$('#lineChart4').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart5').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart6').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});
	</script>
{% endblock extrajs %}

