{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}
	{% include 'includes/dashboard-content.html' %}








    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart').getContext('2d');

    // Ajoutez les données de votre graphique ici
    const chartData = {
        labels: {{ labels|safe }},
        datasets: [
            {
                label: 'Départements',
                data: {{ nbdepartements|safe }},
                backgroundColor: 'rgba( 255, 140, 0, 1 )',
                borderColor: 'rgba( 255, 140, 0, 1 )',
                borderWidth: 1
            },
            {
                label: 'Sous-Préfectures',
                data: {{ nbsous_prefectures|safe }},
                backgroundColor: 'rgba( 30, 144, 255, 1 )',
                borderColor: 'rgba( 30, 144, 255, 1 )',
                borderWidth: 1
            },
            {
                label: 'Villages',
                data: {{ nbvillages|safe }},
                backgroundColor: 'rgba( 255, 0, 255, 1 )',
                borderColor: 'rgba( 255, 0, 255, 1 )',
                borderWidth: 1
            }
        ]
    };

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                },
                animation: {
                    onComplete: function () {
                        // Cette fonction est appelée lorsque l'animation est terminée
                        // Vous pouvez ajouter ici le code que vous souhaitez exécuter après l'animation
                    }
                }
            }
        }
    });

    function toggleAnimation() {
        if (myChart.options.animation) {
            // Pause de l'animation
            myChart.options.animation = false;
        } else {
            // Reprise de l'animation
            myChart.options.animation = true;
            myChart.update(); // Mettez à jour le graphique pour appliquer les modifications
        }
    }

    // Ajoutez un gestionnaire d'événements de clic au canevas
    ctx.canvas.addEventListener('click', toggleAnimation);
});










        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart2').getContext('2d');

            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                        {
                            label: 'Départements',
                            data: {{ nbdepartements|safe }},
                            backgroundColor: 'rgba( 255, 140, 0, 1 )',
                            borderColor: 'rgba( 255, 0, 0, 1 )',
                            borderWidth: 1
                        },
                        {
                            label: 'Sous-Préfectures',
                            data: {{ nbsous_prefectures|safe }},
                            backgroundColor: 'rgba( 255, 0, 255, 1 )',
                            borderColor: 'rgba( 255, 255, 0, 1 )',
                            borderWidth: 1
                        },
                        {
                            label: 'Villages',
                            data: {{ nbvillages|safe }},
                            backgroundColor: 'rgba( 255, 0, 255, 1 )',
                            borderColor: 'rgba(255, 206, 86, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        });








    </script>


{% endblock content %}




