{% extends 'layouts/base.html' %}
{% load static %}
{% block wrapper_extra_class %}
	overlay-sidebar
{% endblock wrapper_extra_class %}
{% block sidebar_class %}
	sidebar sidebar-style-2
{% endblock sidebar_class %}
{% block content %}
	{% include 'includes/dashboard-content.html' %}








    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart').getContext('2d');

    const allBars = {{ labels|safe }};
    const maxBarsToShow = 5;
    const initialDepartementsData = {{ nbdepartements|safe }};
    const initialSousPrefecturesData = {{ nbsous_prefectures|safe }};
    const initialVillagesData = {{ nbvillages|safe }};

    let displayDepartementsData = initialDepartementsData.slice(0, maxBarsToShow);
    let displaySousPrefecturesData = initialSousPrefecturesData.slice(0, maxBarsToShow);
    let displayVillagesData = initialVillagesData.slice(0, maxBarsToShow);

    const displayLabels = allBars.slice(0, maxBarsToShow);

    const data = {
        labels: displayLabels,
        datasets: [
            {
                label: 'Départements',
                data: displayDepartementsData,
                backgroundColor: 'rgba(255, 140, 0, 1)',
                borderColor: 'rgba(255, 140, 0, 1)',
                borderWidth: 1
            },
            {
                label: 'Sous-Préfectures',
                data: displaySousPrefecturesData,
                backgroundColor: 'rgba(30, 144, 255, 1)',
                borderColor: 'rgba(30, 144, 255, 1)',
                borderWidth: 1
            },
            {
                label: 'Villages',
                data: displayVillagesData,
                backgroundColor: 'rgba(255, 0, 255, 1)',
                borderColor: 'rgba(255, 0, 255, 1)',
                borderWidth: 1
            }
        ]
    };

    const options = {
        scales: {
            x: {
                stacked: true
            },
            y: {
                stacked: true
            }
        }
    };

    const chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });

    let animationInterval;
    let isAnimationPaused = false;
    let startIndex = maxBarsToShow;

    function rotateData() {
        displayDepartementsData.shift();
        displayDepartementsData.push(initialDepartementsData[startIndex]);

        displaySousPrefecturesData.shift();
        displaySousPrefecturesData.push(initialSousPrefecturesData[startIndex]);

        displayVillagesData.shift();
        displayVillagesData.push(initialVillagesData[startIndex]);

        displayLabels.shift();
        displayLabels.push(allBars[startIndex]);

        chart.data.datasets[0].data = displayDepartementsData;
        chart.data.datasets[1].data = displaySousPrefecturesData;
        chart.data.datasets[2].data = displayVillagesData;
        chart.data.labels = displayLabels;
        chart.update();

        startIndex = (startIndex + 1) % initialDepartementsData.length;
    }

    function toggleAnimation() {
        if (isAnimationPaused) {
            animationInterval = setInterval(rotateData, 1000);
        } else {
            clearInterval(animationInterval);
        }

        isAnimationPaused = !isAnimationPaused;
    }

    ctx.canvas.addEventListener('click', toggleAnimation);

    // Démarrez l'animation initiale
    animationInterval = setInterval(rotateData, 1000);
});





        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart2').getContext('2d');

            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                        {
                            label: 'Départements',
                            data: {{ nbdepartements|safe }},
                            backgroundColor: 'rgba( 255, 140, 0, 1 )',
                            borderColor: 'rgba( 0, 0, 0, 1 )',
                            borderWidth: 1
                        },
                        {
                            label: 'Sous-Préfectures',
                            data: {{ nbsous_prefectures|safe }},
                            backgroundColor: 'rgba(30, 144, 255, 1)',
                            borderColor: 'rgba( 255, 255, 0, 1 )',
                            borderWidth: 1
                        },
                        {
                            label: 'Villages',
                            data: {{ nbvillages|safe }},
                            backgroundColor: 'rgba( 255, 0, 255, 1 )',
                            borderColor: 'rgba( 0, 0, 0, 1 )',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        });







        document.addEventListener('DOMContentLoaded', function() {
            var labels = {{ labels1|safe }};
            var data = {{ data1|safe }};

            var ctx = document.getElementById('myPieChart').getContext('2d');

            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            'rgba( 255, 0, 255, 1 )',
                            'rgba(255, 140, 0, 1)',
                            'rgba( 255, 255, 0, 1 )',
                            'rgba(30, 144, 255, 1)',
                            // Add more colors as needed
                        ],
                    }],
                },
            });
        });





    </script>














{% endblock content %}




