<!-- templates/votre_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Votre Visualisation</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myPieChart" width="10" height="10"></canvas>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var labels = {{ labels1|safe }};
            var data = {{ data1|safe }};

            var ctx = document.getElementById('myPieChart').getContext('2d');

            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels1,
                    datasets: [{
                        data: data1,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(75, 192, 192, 0.7)',
                            // Add more colors as needed
                        ],
                    }],
                },
            });
        });
    </script>
</body>
</html>
